*.h             linguist-language=C
*.nix           linguist-documentation=true
/.github/*      linguist-documentation=true
/nix/*          linguist-documentation=true
/shoco/*        linguist-vendored=true
